[submodule "unlock"]
	path = unlock
	url = https://github.com/unlock-protocol/unlock
[submodule "v2-peryphery-udt"]
	path = v2-peryphery-udt
	url = https://github.com/l-henri/v2-peryphery-udt
[submodule "v2-core-udt"]
	path = v2-core-udt
	url = https://github.com/l-henri/v2-core-udt
